:root {
  --bg-1: #FFCC70;
  --bg-2: #FFFADD;
  --bg-3: #8ECDDD;
  --bg-4: #22668D;

}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: grid;

  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;

  grid-template-areas: 
  "side header"
  "side main";
}

.header {
  background-color: var(--bg-1);
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.sidebar {
  background-color: var(--bg-2);
  grid-area: side;
}

.main {
  background-color: var(--bg-3);
  grid-area: main;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  /* grid-template-areas: 
  "c1 c2 c3"
  "c4 c4 c5"
  "c4 c4 c6"; */
  
  gap: 20px;
  padding: 24px;
}

.card {
  background-color: var(--bg-4);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.card:nth-child(1) {
  /* grid-area: c1; */
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;
}

.card:nth-child(2) {
  /* grid-area: c2; */
  grid-column: 2/ span 1;
  grid-row: 1/2;
}

.card:nth-child(3) {
  /* grid-area: c3; */
  /* grid-area: row-start / column-start / row-end / column-end; */
  grid-area: 1/3/2/4;
}

.card:nth-child(4) {
  /* grid-area: c4; */
  grid-area: 2/1/4/3;
}

.card:nth-child(5) {
  /* grid-area: c5; */
  grid-area: 2/3/3/4;
}

.card:nth-child(6) {
  /* grid-area: c6; */
  grid-area: 3/3/4/4;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 80px 1fr;
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);

    grid-template-areas: initial;
  }

  .card {
    grid-area: initial !important;
  }
}











